
.chat-column{
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  margin:0 auto;
  width: 90%;

}
.messages{
  overflow-y:scroll ;
  height: 80vh;
  width: 100%;
  justify-content: space-around;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  padding: 20px;
  max-width: 80%;
  margin: 0 auto;
  scrollbar-color: #FF9100 #f1f1f1;
  scrollbar-width: auto;
  scroll-behavior: smooth;
  
}
.info-column{
 
  height: 90vh;
  width: 30%;
}

.send-btn{
    margin-top: 0px 40px;
    background-color: rgba(0, 0, 0, 0);
    color: #240046;
    padding: 11px 15px;
    border: 2px #240046 solid;
    border-radius: 10px;
    font-weight: 500;
    font-size: 10px;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.25));
    transition: .2s ease-in-out;
}
button:hover {
    background-color: #FF9100;
    border-radius: 10px;
    border: 2px #FF9100 solid;;
    color: #ffffff;
    transition: .1s ease-in-out;
}
  

.send-wrapper {
  width: 90%; /* for large screens */
  max-width: 500px; /* maximum width */
  margin: 13px auto; /* centersend.send-wrapper field horizontally */
  position: relative;
  display: flex;
}

@media screen and (max-width: 767px) {
  .send-wrapper {
    width: 90%; /* for mobile screens */
  }
}
.send-wrapper input {
  width: 100%; /* fill the parent container */
  padding: 12px 20px; /* add some padding */
  border: none; /* remove the default border */
  border-radius: 30px; /* round the corners */
  background-color: #F4F4F4; /* a light gray color forsend.send-wrapper field */
  font-size: 16px;
  font-weight: 400;
  color: #240046; /* use the darker color for text */
  box-sizing: border-box; /* include padding in the width calculation */
  margin-right: 30px;
}

.send-wrapper input:focus {
  outline-color: #FF9100;
  outline-style: dotted;
}


.message {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  margin-top: 10px;  
  max-width: 80%;
}



.message-content {
  padding: 10px 15px;
  border-radius: 15px;
  
  max-width: 70%;
  min-width: 70px;
  word-wrap: break-word;
  position: relative;
  color: white;
  background-color: #240046;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.message-received .message-content::before{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0px 0px;
  border-color: #240046 transparent transparent transparent;
  bottom: -15px;
  left: 16px;
}


.message-sent .message-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 0px 0px 15px;
  border-color: #240046 transparent transparent transparent;
  
  bottom: -15px;
  right: 12px;

   
}

.message-sent .message-content {
  background-color: #FF9100;
  margin-left: 30%;
  margin-right: 0px;

  
}

.message-sent .message-content::before {
  border-width: 0px 0px 15px 15px;
  border-color: transparent transparent #FF9100 transparent;
  /*
  left: auto;
  right: 10px;
  */
}

.message-sent .message-content::after {
  border-width: 0px 15px 15px 0px;
  border-color: transparent #FF9100 transparent transparent;
  /*
  bottom: -15px;
  right: auto;
  left: 10px;
  */
}


/* Set the style for the scrollbar track */
.messages::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;

}

/* Set the style for the scrollbar thumb */
.messages::-webkit-scrollbar-thumb {
  background-color: #FF9100;
  border-radius: 10px;
}

/* Hide the scrollbar when not hovering over it */
.messages::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  
  display: none;
}

/* Show the scrollbar when hovering over it */
.messages:hover::-webkit-scrollbar {
  display: block;
}

/* Set the style for the scrollbar thumb in Firefox */
.messages::-moz-scrollbar-thumb {
  background-color: #FF9100 ;
  border-radius: 10px;
  width: 10px;
  height: 10px;
}
