
.social a {
  display: inline;
  font-size: 20px;
  padding: 0px;
  transition: .2s ease;
  color: black;
}
.social a:hover{ transition: .2s ease;
transform: scale(1.1);
}
.social{
  position: relative;
  z-index: 1;
  margin-top: 70px;
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;

}
.wave-wrapper{
  position: relative;
 
}
#wave{
  margin: 0px;
  position: absolute;
  left: 0;
  top: 0;
}
path{
  width: 100%;
  margin: 0px;
  padding: 0px;
}